/* dock2 - bottom */

.dock
{
    position: relative;
    height: 50px;
    text-align: center;
}

#dock2
{
    width: 100%;
    bottom: 0px;
    position: absolute;
    left: 0px;
}
.dock-container2
{
    position: absolute;
    height: 50px;
    background: url(../images/dock-bg.gif);
    padding-left: 20px;
}
a.dock-item2
{
    display: block;
    font: bold 12px Arial, Helvetica, sans-serif;
    width: 40px;
    color: #000;
    bottom: 0px;
    position: absolute;
    text-align: center;
    text-decoration: none;
}
.dock-item2 span
{
    display: none;
    padding-left: 20px;
}
.dock-item2 img
{
    border: none;
    margin: 5px 10px 0px;
    width: 100%;
}
