.map
{
    border: 1px solid #a62315;
    vertical-align: top;
    white-space: nowrap;
}
.map thead
{
    color: #fff;
    background-image: -moz-linear-gradient(0% 22px 90deg, #a62315, #f47321);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#f47321), to(#a62315));
    background-color: #f47321;
    font-weight: bold;
}
.map thead td
{
    border: 1px solid #a62315;
}
.map tbody td
{
    vertical-align: top;
    border: 1px solid #a62315;
}

.caption
{
    font-size: 24px;
    color: #893511;
    padding: 10px 0px 5px 5px;
}
